$hoverColor: red;
$activeColor: purple;
$visitedColor: green;
$colorM: magenta;
$colorL: lightcoral;
$colorP: pink;

ul {
  a {
    text-decoration: none;
    &:hover {
      color: $hoverColor;
    }

    &:active {
      color: $activeColor;
    }

    &:visited {
      color: $visitedColor;
    }
  }
}

ol {
  a {
    &:hover {
      color: $colorM;
    }

    &:active {
      color: $colorP;
    }

    &:visited {
      color: $colorL;
    }
  }
}

.para {
  padding: 10px 20px;

  .reverse & {
    width: 50%;
    padding: 0;
  }
}

.para-short {
  width: 50%;
  margin: 0 auto;

  .reverse & {
    width: 100%;
    padding: 10px 20px;
  }
}

.para {
  .reverse & {
    width: 50%;
    padding: 0;
  }
}

.all-visited a {
  text-decoration: line-through;
}
